/* Bootstrap-style columns */
.star-plastics-shuffle-container {
  margin-bottom: 60px;
}

.column {
  position: relative;
  float: left;
  min-height: 1px;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;

  /* Space between tiles */
  margin-top: 8px;
}

.col-span {
  width: 50%;
}

.filter-button-group {
  display: flex;
  justify-content: center;
  margin: 60px 0 30px;
}

.star-plastics-sizer-element {
  width: 8.33333%;
}

/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.star-plastics-shuffle {
  position: relative;
  overflow: hidden;
}

.picture-item figcaption a {
  font-size: 12px;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
  padding-bottom: calc(28.125% - 3px);
}

.picture-item img {
  display: block;
  width: 100%;

  max-width: none;
  height: 100%;
  object-fit: cover;

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.picture-item img:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.et_pb_button {
  border-radius: 0px !important;
}
.et_pb_button:hover {
  cursor: pointer;
  color: white;

}
.et_pb_button.active {
  background-color: #a2191b;
  color: white;
}

/* Small reset */
*,
::before,
::after {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}
/* figure:nth-child(2n){
  margin-bottom:30px;
}
figure:nth-child(2n+1){
  margin-top:30px;
} */
